* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;


}

.sec1_card.sec1_card {
    border: none;

}

.heding.heding {
    /* font-family: cormorant; */
    color: #63110f;
    font-weight: bold;
    font-size: 60px;
}



.subheding.subheding {
    font-size: 40px;
    letter-spacing: 2px;
    /* font-family: cormorant; */
}


.paragraph.paragraph {
    font-size: 20px;
    /* font-family: cormorant; */

}


.sec1_img.sec1_img {
    height: 600px;
}



.sec1_btn.sec1_btn.sec1_btn.sec1_btn {
    background-color: #b71c1c;
    width: 90%;
    height: 85px;
    border-radius: 40px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.sec-2.sec-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.sec2.sec2 {
    background-color: #eee8e4;
    height: 80vh;
    border-radius: 100px;

}



.sec2_card.sec2_card {
    background-color: #eee8e4;
    border: none;
    height: 380px;
    border-radius: 50px;

}



.heding1.heding1 {
    color: #63110f;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;

}



.paragraph1.paragraph1 {
    font-size: 18px;
    font-weight: bold;
    /* text-align: justify; */

}




.img_sec_3.img_sec_3 {
    height: 1200px;
}




.sec_4.sec_4 {
    height: 60vh;

}



.sec_4_heding.sec_4_heding {
    /* font-family: cormorant; */
    color: #63110f;
    font-weight: normal;
    font-size: 60px;
}




div.sec5_box.sec5_box {

    height: 500px;

}






/* .col-12{
        display:flex;
        justify-self: center;
    } */





.sec_5_btn-1.sec_5_btn-1 {
    width: 180px;
    height: 50px;
    background-color: #6c9fc1;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-2.sec_5_btn-2 {
    width: 180px;
    height: 50px;
    background-color: #FC6600;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-3.sec_5_btn-3 {
    width: 180px;
    height: 50px;
    background-color: #32425B;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-4.sec_5_btn-4 {
    width: 180px;
    height: 50px;
    background-color: #F80000;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-5.sec_5_btn-5 {
    width: 180px;
    height: 50px;
    background-color: #3BA5F1;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-6.sec_5_btn-6 {
    width: 180px;
    height: 50px;
    background-color: #9D568A;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-7.sec_5_btn-7 {
    width: 150px;
    height: 50px;
    background-color: #55B76F;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-8.sec_5_btn-8 {
    width: 180px;
    height: 50px;
    background-color: #EF6537;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-9.sec_5_btn-9 {
    width: 180px;
    height: 50px;
    background-color: #F86089;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-10.sec_5_btn-10 {
    width: 180px;
    height: 50px;
    background-color: #0281A5;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-11.sec_5_btn-11 {
    width: 180px;
    height: 50px;
    background-color: #292A2C;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-12.sec_5_btn-12 {
    width: 180px;
    height: 50px;
    background-color: #4B4B4B;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}

.sec_5_btn-13.sec_5_btn-13 {
    width: 180px;
    height: 50px;
    background-color: #F99D1C;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border-width: 1px;
}


.sec5_img.sec5_img {
    width: 100%;
}


.sec3_card_p.sec3_card_p {
    font-size: 18px;
}



.sec_6_heding.sec_6_heding {
    font-family: cormorant;
    color: #63110f;
    font-weight: normal;
    font-size: 64px;
}



.footer.footer {
    background-color: #63110f;
    color: white;
    height: 60vh;

}

.sec5_bg_img.sec5_bg_img {
    width: 100%;
    height: 950px;
}




.sec_5_heding.sec_5_heding {
    font-family: cormorant;
    color: #63110f;
    font-weight: normal;
    font-size: 64px;

}




.sec_5_card_header-1.sec_5_card_header-1 {
    background-color: #6c9fc1;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-2.sec_5_card_header-2 {
    background-color: #FC6600;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-3.sec_5_card_header-3 {
    background-color: #32425B;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-4.sec_5_card_header-4 {
    background-color: #F80000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-5.sec_5_card_header-5 {
    background-color: #3BA5F1;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-6.sec_5_card_header-6 {
    background-color: #9D568A;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-7.sec_5_card_header-7 {
    background-color: #55B76F;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-8.sec_5_card_header-8 {
    background-color: #EF6537;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-9.sec_5_card_header-9 {
    background-color: #F86089;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-10.sec_5_card_header-10 {
    background-color: #0281A5;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-11sec_5_card_header-11 {
    background-color: #292A2C;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-12.sec_5_card_header-12 {
    background-color: #4B4B4B;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec_5_card_header-13.sec_5_card_header-13 {
    background-color: #F99D1C;
    box-shadow: 0px 0px 5px 0px #000000;
}

.sec3_card_heding.sec3_card_heding {
    color: #b71c1c;
    font-weight: bold;
    font-size: 26px;

}


/* @media only screen and (max-width: 600px) {
    
    .sec3_card_heding {
        color: #b71c1c;
        font-weight:bold;
        font-size: 26px;
        
    }
     }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .sec3_card_heding {
        color: #b71c1c;
        font-weight:bold;
        font-size: 40px;
        
    }    
    } */

.sec3_card_subheding.sec3_card_subheding {
    font-weight: bold;
    font-size: 23px;

}


/* @media only screen and (max-width: 600px) {
    
    .sec3_card_subheding {
        font-weight: bold;
        font-size: 18px;
    
    }
     }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .sec3_card_subheding {
        font-weight: bold;
        font-size: 18px;
    
    }      
    } */

.sec3_card_img.sec3_card_img {
    width: 90px;
}



.sec3_card1.sec3_card1 {
    background-color: #FFFFFF;
    /* height: 57vh; */
    /* width: 100%; */
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 8px 6px -3px #f01247;
    border-width: 1px;

}

.sec3_card2.sec3_card2 {
    background-color: #FFFFFF;

    padding: 10px;
    /* width: 120%; */
    /* margin: 30px; */
    border-radius: 14px;
    box-shadow: 0px 8px 6px -3px #00db38;

}

.sec3_card3.sec3_card3 {
    background-color: #FFFFFF;
    padding: 10px;

    border-radius: 14px;
    box-shadow: 0px 8px 6px -3px #00a7b8;

}

.sec3_card4.sec3_card4 {
    background-color: #FFFFFF;
    /* height: 57vh; */
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 8px 6px -3px #ff05e7;
    /* width: 80%; */

}

.sec3_card5.sec3_card5 {
    background-color: #FFFFFF;
    padding: 10px;

    border-radius: 14px;
    box-shadow: 0px 8px 6px -3px #00db38;


}

.sec3_card_con.sec3_card_con {

    height: 380px;
}








.sec5_card-body.sec5_card-body {

    box-shadow: 0px 0px 5px 0px #000000;

}



.hover-box1 :hover:not(.no-hover) {
    transform: scale(1.1);
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0px 14px 12px -3px #f01247;

}

.hover-box2 :hover:not(.no-hover) {

    transform: scale(1.1);
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0px 14px 12px -3px #00db38;

}

.hover-box3 :hover:not(.no-hover) {
    transform: scale(1.1);
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0px 14px 12px -3px #00a7b8;

}

.hover-box4 :hover:not(.no-hover) {
    transform: scale(1.1);
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0px 14px 12px -3px #ff05e7;

}

.hover-box5 :hover:not(.no-hover) {
    transform: scale(1.1);
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0px 14px 12px -3px #00db38;

}




.sec5_heding.sec5_heding {
    color: white;
    font-size: 49px;
    font-weight: bold;
}





.sec6_cardsec6_card {
    border-color: #63110f;
    border-width: 2px;

}

.facebook.facebook {
    width: 50px;
    height: 40px;

}

.twitter.twitter {
    width: 50px;
    height: 40px;

}

.linkedin.linkedin {
    width: 50px;
    height: 40px;
}



/* Trusted by top brand animation  */

/* .img-slider-div {
    overflow: hidden;
}

.img-slider-div div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

.img-slider-div div:nth-child(1) {
    animation: scrollFirst 30s linear infinite;
}

.img-slider-div div:nth-child(2) {
    animation: scrollSecond 30s linear infinite;
}

.img-slider-div div img {
    width: 15%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@keyframes scrollFirst {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scrollSecond {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
} */





.img-slider-div {
    overflow: hidden;
}

.img-slider-div .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

.img-slider-div .images:nth-child(1) {
    animation: scrollFirst 30s linear infinite;

}

.img-slider-div .images:nth-child(2) {
    animation: scrollSecond 30s linear infinite;
}

.img-slider-div div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@keyframes scrollFirst {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scrollSecond {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
















/* Services page  */

.ser_sec1_text.ser_sec1_text {

    color: #63110f;
    font-weight: bold;
    font-size: 75px;
}

.ser_sec1_img.ser_sec1_img {
    width: 100%;

}








.ser_sec2_heding.ser_sec2_heding {
    color: #63110f;
    font-weight: bold;
    font-size: 65px;
}







.ser_sec2_box.ser_sec2_box {
    height: 450px;
    border-radius: 14px;
    box-shadow: 8px 8px 6px -3px #BDCED8;

}

.ser_sec2_box:hover {
    transform: scale(1.1);
    /* background-color: #FFFFFF; */
    border-radius: 14px;
    box-shadow: 0px 14px 12px -3px #BDCED8;

}



.ser_sec3_div.ser_sec3_div {
    height: 400px;
    background-color: #EADADA;
}


.ser_sec3_heding.ser_sec3_heding {
    font-weight: bold;
    font-size: 40px;
}




.ser_sec3_btn.ser_sec3_btn {
    background-color: #6E1512;
    border-radius: 50px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.card_icon.card_icon {
    color: #000000
}



/* ABOUT_US_PAGE_CSS */


.about_sec1_img.about_sec1_img {
    height: 450px;
}




/* -------------------------------------------------------------------------------------------- */


.newsection {

    height: 120vh;

}

.newsec_card_size
 {
   height: 350px;

}

.newtext {
    /* opacity: 0; */
    display: none;
   
    
}

.newbox:hover .newtext {
    opacity: 1;
    display: inline-flex;
    
}

/* .newbox:hover {
    transition-delay: .5s;           /* Delay transition for other boxes */
  /* } */ 

.newbox:hover .newimage {
    opacity: 0;
    /* Hide image on hover */
}
/* .newbox:hover .newsec_card_size {
    height: 90vh;
} */







.text {
    opacity: 0;
    font-size: 10px;
    
}


.box:hover .text {
    opacity: 1;
    
    /* Display text on hover */

 }  

 .box:hover .image {
    opacity: 0;
    /* Hide image on hover */
} 

 .inner_card{

    /* background-color: #EADADA; */
     box-shadow: 5px 5px 5px 5px #F4F4F4;
     border:none
} 


 .newbox {
    transition: width 0.2s ease-in-out;
    border: none;
}
 



/* Fade in  Animation in all section  */

.fade-in {
    opacity: 0;
    transform: translateY(50px); /* Initial position below */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; /* Animation transition */
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
  


/* newsection2  */

.newsection2{

    height:100vh;
}

.nsec2text1{
    display: none;
}
.part1:hover .nsec2text1 {
    display:inline-flex;
}

.nsec2heding1{

    font-weight: normal;
}

.part1:hover .nsec2heding1 {
    font-weight: bold;
}

.part1{
    border-left: 2px solid rgb(197, 197, 180);
} 

.part1:hover.part1{

    border-left: 2px solid #63110F
}

.part2{
    border-left: 2px solid rgb(197, 197, 180);
} 

.part2:hover.part2{

    border-left: 2px solid #63110F
}

.part3{
    border-left: 2px solid rgb(197, 197, 180);
} 

.part3:hover.part3{

    border-left: 2px solid #63110F
}

.part4{
    border-left: 2px solid rgb(197, 197, 180);
} 

.part4:hover.part4{

    border-left: 2px solid #63110F
}





.nsec2text2{
    display: none;
}
.part2:hover .nsec2text2 {
    display:inline-flex
} 

.nsec2heding2{
    font-weight: normal;
}
.part2:hover .nsec2heding2 {
    font-weight: bold;
   
} 
.nsec2text3{
    display: none;
}
.part3:hover .nsec2text3 {
    display:inline-flex
} 

.nsec2heding3{
    font-weight: normal;
}
.part3:hover .nsec2heding3 {
    font-weight: bold;
   
} 
.nsec2text4{
    display: none;
}
.part4:hover .nsec2text4 {
    display:inline-flex
}
.nsec2heding4{
    font-weight: normal;
}
.part4:hover .nsec2heding4 {
    font-weight: bold;
   
}  

.nsec2textr{
    margin-top: 100px;
}
.nsec2textr1{
    display: none;
}
.nsec2textr2{
    display: none;
}
.nsec2textr3{
    display: none;
}
.nsec2textr4{
    display: none;
}
























/* .newbox:hover { 
    width: 50%; /* Increase width on hover */
  /* } */
  
/* .newbox:hover ~.newbox {
    width: 15%; /* Reduce width of other cards on hover */
  /* } */ 
   
/* .box:hover:not(.text) {

    transform: scale(1.5);
   
} */

/* .box:hover .sec_card_size {
    height: 90vh;
} */

/* .newbox:hover{ */
    /* z-index: 1; */
    /* transform: scale(2.2); */
    /* position: absolut */
/* } */
    
/* right: 5px; */
/* bottom: 0; */

/* display: flex; */
/* justify-content: center;
     align-items: center; */

/* text-align: center; */

/* } */
 /* .newbox:hover { */

    /* position:absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* 
    z-index:1;
    justify-content: center;
    align-items: center;
    
}    */

/* .newbox:hover {
    flex: 4; 
  }*/



 /* .newbox:hover~.newbox {
    display: none;
    transform: scale(2.4);
} */
/*
