* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;


}

@media only screen and (max-width: 600px) {
    .heding.heding{ 
        font-size: 40px; 
    }

    .subheding.subheding{ 
        font-size: 20px; 
    }

    .paragraph.paragraph {
        font-size: 18px;
        
    }

    .sec1_img.sec1_img{
        height:650px;
    }  

    .sec2.sec2 {
        background:none;
        height: 1050px;
        border-radius: 60px;
    
    }

    .sec2_card.sec2_card{
        background-color: #eee8e4;
        border: none;
        height: 480px;
        border-radius:40px;
           
    }

    .heding1.heding1 {
        color: #63110f;
        font-weight: bold;
        font-size: 30px;
        text-decoration: underline;
    
    }

    .paragraph1.paragraph1{
        font-size: 18px;
        font-weight: bold;
    
    }

    .img_sec_3.img_sec_3 {
        height: 2400px;
    }

    .sec_4.sec_4 {
        height: 50vh;
    
    }

    

    .sec5_box.sec5_box{
    
        height: 820px;
        width: 500px;
        
    }

    .sec5_img.sec5_img{
        width: 80%;
        height:60%;
    }

    .sec3_card_p.sec3_card_p{
        font-size: 18px;
    }

    .sec_6_heding.sec_6_heding {
        font-size: 45px;
    }

    .footer.footer {
        
        height: 1000px;
    
    }

    .sec5_bg_img.sec5_bg_img{
        width: 100%;
        height: 950px;
    }

    .sec_5_heding.sec_5_heding { 
        font-size: 50px;
    }

    .sec3_card_img.sec3_card_img {
        width: 90px;
    }

    .sec3_card_con.sec3_card_con{

        height: 380px;
    }

    .sec5_card-body.sec5_card-body {

        height: 650px;
        
    }

    .sec5_card-body-MPP.sec5_card-body-MPP {

        height: 610px;
        
    }

    .sec5_heding.sec5_heding{
        font-size: 35px;
    }

    .ser_sec1_text.ser_sec1_text{
    
        color: #63110f;
        font-weight: bold;
        font-size: 45px;
       }

    .ser_sec1_text.ser_sec1_text{
    
        color: #63110f;
        font-weight: bold;
        font-size: 28px;
    }

    .ser_sec2_heding.ser_sec2_heding{
        color: #63110f;
        font-weight: bold;
        font-size: 45px;
    }

    .ser_sec2_box.ser_sec2_box {
        height: auto
    } 

    .ser_sec3_div.ser_sec3_div{
        height: auto;
    }

    .ser_sec3_heding.ser_sec3_heding{
        font-weight:bold;
        font-size: 28px;
    }

    .newsection{

        height: 235vh;
    }

   

    /* trusted by top brand Animation */
    .img-slider-div {
        overflow: hidden;
    }
    
    .img-slider-div .images {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1%;
        width: 200%;
        max-width: 200%;
        
    }
    
    .img-slider-div .images:nth-child(1) {
        animation: scrollFirst 30s linear infinite;
    
    }
    
    .img-slider-div .images:nth-child(2) {
        animation: scrollSecond 30s linear infinite;
    }
    
    .img-slider-div div img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    
    @keyframes scrollFirst {
        0% {
            transform: translateX(20%);
        }
    
        50% {
            transform: translateX(-80%);
        }
    
        100% {
            transform: translateX(20%);
        }
    }
    
    @keyframes scrollSecond {
        0% {
            transform: translateX(-80%);
        }
    
        50% {
            transform: translateX(20%);
        }
    
        100% {
            transform: translateX(-80%);
        }
    }
    
    

}

/* newsection2 */

.newsection2{

 height: 140vh;    
}